In [ ]:
#https://realpython.com/pandas-groupby/#using-lambda-functions-in-groupby

import pandas as pd
import numpy as np

In [ ]:
dtypes = {
    'first_name' : 'category',
    'gender': 'category',
    'type' : 'category',
    'state' : 'category',
    'party' : 'category',
}

In [ ]:
df = pd.read_csv("/content/legislators-historical.csv")
df.head()

In [ ]:
df = pd.read_csv("/content/legislators-historical.csv", 
                 dtype = dtypes, 
                 usecols= list(dtypes) + ['birthday', 'last_name'],
                 parse_dates = ['birthday'])
df.tail()

      last_name first_name   birthday gender type state       party
11970   Garrett     Thomas 1972-03-27      M  rep    VA  Republican
11971    Handel      Karen 1962-04-18      F  rep    GA  Republican
11972     Jones     Brenda 1959-10-24      F  rep    MI    Democrat
11973    Marino        Tom 1952-08-15      M  rep    PA  Republican
11974     Jones     Walter 1943-02-10      M  rep    NC  Republican

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11975 entries, 0 to 11974
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   last_name   11975 non-null  object
 1   first_name  11975 non-null  category
 2   birthday    11422 non-null  datetime64[ns]
 3   gender      11975 non-null  category
 4   type        11975 non-null  category
 5   state       11975 non-null  category
 6   party       11741 non-null  category
dtypes: category(5), datetime64[ns](1), object(1)
memory usage: 307.0+ KB

In [ ]:
n_by_state = df.groupby('state')['last_name'].count()
n_by_state.head()

state
AK     16
AL    206
AR    117
AS      2
AZ     48
Name: last_name, dtype: int64

In [ ]:
##### sql query for line 11
# select state, count(name)
# from df
# group by state
# order by state;

In [ ]:
#grouping jointly on two columns, which finds the count of Congressional members broken out by state and then by gender
df.groupby(['state', 'gender'])['last_name'].count()

state  gender
AK     F           0
       M          16
AL     F           3
       M         203
AR     F           5
                ...
WI     M         196
WV     F           1
       M         119
WY     F           2
       M          38
Name: last_name, Length: 116, dtype: int64

In [ ]:
df.groupby(['state', 'gender'], as_index =False)['last_name'].count()

    state gender  last_name
0      AK      F          0
1      AK      M         16
2      AL      F          3
3      AL      M        203
4      AR      F          5
..    ...    ...        ...
111    WI      M        196
112    WV      F          1
113    WV      M        119
114    WY      F          2
115    WY      M         38

[116 rows x 3 columns]

In [ ]:
#### sql for line 12
# select state, gender, count(name)
# from df
# group by state, gender   
# order by state, gender;

In [ ]:
#Using .count() excludes NaN values, while .size() includes everything
n_by_state_gender = df.groupby(['state', 'gender'])['last_name'].count()
n_by_state_gender.index[:5]

MultiIndex([('AK', 'F'),
            ('AK', 'M'),
            ('AL', 'F'),
            ('AL', 'M'),
            ('AR', 'F')],
           names=['state', 'gender'])

In [ ]:
by_state = df.groupby("state")

In [ ]:
for state, frame in by_state:
  print(f"First 2 entries for {state!r}")
  print("------------------------")
  print(frame.head(2), end="\n\n")

In [ ]:
# df.loc[df["state"] == "PA"]
by_state.get_group("AZ")

In [ ]:
df = pd.read_csv("/content/airqual.csv")
df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,3/10/04,18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,3/10/04,19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,3/10/04,20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,3/10/04,21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,3/10/04,22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888

In [ ]:
df = pd.read_csv("/content/airqual.csv",
                 parse_dates=[['Date', 'Time']],
                 na_values = [-200],
                 usecols =['Date', 'Time', 'CO(GT)', 'T', 'RH', 'AH']).rename(
                     columns={
                         'CO(GT)' :'co',
                         'Date_Time': 'tstamp',
                         'T': 'temp_c',
                         'RH': 'rel_hum',
                         'AH': 'abs_hum',
                     }
                 ).set_index('tstamp')
df.head(50)

                      co  temp_c  rel_hum  abs_hum
tstamp
2004-03-10 18:00:00  2.6    13.6     48.9   0.7578
2004-03-10 19:00:00  2.0    13.3     47.7   0.7255
2004-03-10 20:00:00  2.2    11.9     54.0   0.7502
2004-03-10 21:00:00  2.2    11.0     60.0   0.7867
2004-03-10 22:00:00  1.6    11.2     59.6   0.7888
2004-03-10 23:00:00  1.2    11.2     59.2   0.7848
2004-03-11 00:00:00  1.2    11.3     56.8   0.7603
2004-03-11 01:00:00  1.0    10.7     60.0   0.7702
2004-03-11 02:00:00  0.9    10.7     59.7   0.7648
2004-03-11 03:00:00  0.6    10.3     60.2   0.7517
2004-03-11 04:00:00  NaN    10.1     60.5   0.7465
2004-03-11 05:00:00  0.7    11.0     56.2   0.7366
2004-03-11 06:00:00  0.7    10.5     58.1   0.7353
2004-03-11 07:00:00  1.1    10.2     59.6   0.7417
2004-03-11 08:00:00  2.0    10.8     57.4   0.7408
2004-03-11 09:00:00  2.2    10.5     60.6   0.7691
2004-03-11 10:00:00  1.7    10.8     58.4   0.7552
2004-03-11 11:00:00  1.5    10.5     57.9   0.7352
2004-03-11 12:00:00  1.6     9.5     66.8   0.7951
2004-03-11 13:00:00  1.9     8.3     76.4   0.8393
2004-03-11 14:00:00  2.9     8.0     81.1   0.8736
2004-03-11 15:00:00  2.2     8.3     79.8   0.8778
2004-03-11 16:00:00  2.2     9.7     71.2   0.8569
2004-03-11 17:00:00  2.9     9.8     67.6   0.8185
2004-03-11 18:00:00  4.8    10.3     64.2   0.8065
2004-03-11 19:00:00  6.9     9.7     69.3   0.8319
2004-03-11 20:00:00  6.1     9.6     67.8   0.8133
2004-03-11 21:00:00  3.9     9.1     64.0   0.7419
2004-03-11 22:00:00  1.5     8.2     63.4   0.6905
2004-03-11 23:00:00  1.0     8.2     60.8   0.6657
2004-03-12 00:00:00  1.7     8.3     58.5   0.6438
2004-03-12 01:00:00  1.9     7.7     59.7   0.6308
2004-03-12 02:00:00  1.4     7.1     61.8   0.6276
2004-03-12 03:00:00  0.8     7.0     62.3   0.6261
2004-03-12 04:00:00  NaN     6.1     65.9   0.6248
2004-03-12 05:00:00  0.6     6.3     65.0   0.6233
2004-03-12 06:00:00  0.8     6.8     62.9   0.6234
2004-03-12 07:00:00  1.4     6.4     65.1   0.6316
2004-03-12 08:00:00  4.4     7.3     63.1   0.6499
2004-03-12 09:00:00  NaN     9.2     56.2   0.6561
2004-03-12 10:00:00  3.1    13.2     41.7   0.6320
2004-03-12 11:00:00  2.7    14.3     38.4   0.6243
2004-03-12 12:00:00  2.1    15.0     36.5   0.6195
2004-03-12 13:00:00  2.5    16.1     34.5   0.6262
2004-03-12 14:00:00  2.7    16.3     35.7   0.6560
2004-03-12 15:00:00  2.9    15.8     37.0   0.6610
2004-03-12 16:00:00  2.8    15.9     37.2   0.6657
2004-03-12 17:00:00  2.4    16.9     34.3   0.6549
2004-03-12 18:00:00  3.9    15.1     39.6   0.6766
2004-03-12 19:00:00  3.7    14.4     43.4   0.7084

In [ ]:
df.index.min()

Timestamp('2004-03-10 18:00:00')

In [ ]:
df.index.max()

Timestamp('2005-04-04 14:00:00')

In [ ]:
day_names = df.index.day_name()
day_names[:10]

Index(['Wednesday', 'Wednesday', 'Wednesday', 'Wednesday', 'Wednesday',
       'Wednesday', 'Thursday', 'Thursday', 'Thursday', 'Thursday'],
      dtype='object', name='tstamp')

In [ ]:
df.groupby(day_names)['co'].mean()

tstamp
Friday       2.543041
Monday       2.016741
Saturday     1.861077
Sunday       1.438069
Thursday     2.455505
Tuesday      2.382267
Wednesday    2.400787
Name: co, dtype: float64

In [ ]:
hr = df.index.hour

In [ ]:
# 7 * 24 = 168 observations
df.groupby([day_names, hr])['co'].mean().rename_axis(['day_of_week', 'hr'])

day_of_week  hr
Friday       0     1.936170
             1     1.608511
             2     1.172340
             3     0.887234
             4     0.823333
                     ...
Wednesday    19    4.146809
             20    3.844681
             21    2.897872
             22    2.102128
             23    1.938298
Name: co, Length: 168, dtype: float64

In [ ]:
# uses .cut() to bin the temperature values into discrete intervals
bins = pd.cut(df['temp_c'], bins =3, labels=('cool', 'warm', 'hot'))

In [ ]:
df[['rel_hum', 'abs_hum']].groupby(bins).agg(['mean', 'median'])

          rel_hum          abs_hum
             mean median      mean  median
temp_c
cool    57.651452   59.2  0.665874  0.6581
warm    49.382716   49.3  1.182894  1.1452
hot     24.994334   24.1  1.292958  1.2742

In [ ]:
bins.head()

tstamp
2004-03-10 18:00:00    cool
2004-03-10 19:00:00    cool
2004-03-10 20:00:00    cool
2004-03-10 21:00:00    cool
2004-03-10 22:00:00    cool
Name: temp_c, dtype: category
Categories (3, object): ['cool' < 'warm' < 'hot']

In [ ]:
df.groupby([df.index.year, df.index.quarter])['co'].agg(['max', 'min']).rename_axis(['year', 'quarter'])

               max  min
year quarter
2004 1         8.1  0.3
     2         7.3  0.1
     3         7.5  0.1
     4        11.9  0.1
2005 1         8.7  0.1
     2         5.0  0.3

In [ ]:
#uses of resampling is as a time-based groupby. All that you need to do is pass a frequency string, such as "Q" for "quarterly", and pandas will do the rest:
df.resample('Q')['co'].agg(['max', 'min'])

             max  min
tstamp
2004-03-31   8.1  0.3
2004-06-30   7.3  0.1
2004-09-30   7.5  0.1
2004-12-31  11.9  0.1
2005-03-31   8.7  0.1
2005-06-30   5.0  0.3

In [ ]:
# dealing with unprintable lines
data1=[]
with open(data,'r') as f:
  line = f.readline()
  c=0
  line_count = 0
  while line:
    c+=1
    try:
        datetime,city,state,country,shape,durations,durationh,comments,dateposted,latitude,longitudeline = line.split(',')
        data1.append([datetime,city,state,country,shape,durations,durationh,comments,dateposted,latitude,longitudeline])
    except:
      print(c)
      line_count += 1
      print(line.split(','))

    line=f.readline()
print(line_count)

In [ ]:
# using the isnull() method to check for any NaN values in the DataFrame, 
# which correspond to the rows that were skipped due to formatting errors. 
# Then, we're using the shape attribute to get the number of rows (which is
# the same as the number of skipped lines). Finally, we're printing the number 
# of skipped lines to the console.

import pandas as pd
from google.colab import files

df = pd.read_csv('/content/news.csv', error_bad_lines = False, warn_bad_lines=True)
num_skipped_lines = df.loc[df.isnull().any(axis=1)].shape[0]
print("Number of skipped lines: {}".format(num_skipped_lines))

!csvclean /content/news.csv > /content/cleaned_news.csv
files.download('cleaned_news.csv')

In [16]:

def parse_millisecond_timestamp(ts):
  '''Convert ms since Unix epoc to UTC datetime instance.'''
  return pd.to_datetime(ts, unit='ms')

df = pd.read_csv('/content/news.csv', sep='\t', 
                 header =None,
                 index_col =0, 
                 names=['title', 'url', 'outlet', 'category', 'cluster', 'host', 'tstamp'],
                 parse_dates=['tstamp'],
                 date_parser = parse_millisecond_timestamp, 
                 dtype ={
                     'outlet': 'category',
                     'category': 'category',
                     'cluster' : 'category',
                     'host' : 'category',
                 },)

In [17]:
df.iloc[0]

title       Fed official says weak data caused by weather,...
url         http://www.latimes.com/business/money/la-fi-mo...
outlet                                      Los Angeles Times
category                                                    b
cluster                         ddUyU0VZz0BRneMioxUPQVP6sIxvM
host                                          www.latimes.com
tstamp                             2014-03-10 16:52:50.698000
Name: 1, dtype: object

In [18]:
#which outlets talk most about the Federal Reserve? 
df.groupby('outlet', sort=False)['title'].apply(lambda ser: ser.str.contains('Fed').sum()).nlargest(10)

outlet
Reuters                         161
NASDAQ                          103
Businessweek                     93
Investing.com                    66
Wall Street Journal \(blog\)     61
MarketWatch                      56
Moneynews                        55
Bloomberg                        53
GlobalPost                       51
Economic Times                   44
Name: title, dtype: int64

In [22]:
# pull out first group by taking the fisrt tuple from pandas GroupBy iterator:
title, ser = next(iter(df.groupby('outlet', sort=False)['title']))
title

'Los Angeles Times'

In [23]:
#ser is a pandas Series rather than a DataFrame
ser.head()

1       Fed official says weak data caused by weather,...
486            Stocks fall on discouraging news from Asia
1124    Clues to Genghis Khan's rise, written in the r...
1146    Elephants distinguish human voices by sex, age...
1237    Honda splits Acura into its own division to re...
Name: title, dtype: object

In [24]:
ser.str.contains('Fed')

1          True
486       False
1124      False
1146      False
1237      False
          ...
421547    False
421584    False
421972    False
422226    False
422905    False
Name: title, Length: 1976, dtype: bool

In [25]:
# sum a Series of True and False = sum 1 and 0:
ser.str.contains('Fed').sum()

# number of mentions of "Fed" by the Los Angeles Times

17

In [26]:
mentions_fed = df['title'].str.contains('Fed')
type(mentions_fed)

pandas.core.series.Series

In [29]:
#roupby() is also a method of Series, so you can group one Series on another:
mentions_fed.groupby(df['outlet'], sort=False).sum().nlargest(10).astype(np.uintc)

outlet
Reuters                         161
NASDAQ                          103
Businessweek                     93
Investing.com                    66
Wall Street Journal \(blog\)     61
MarketWatch                      56
Moneynews                        55
Bloomberg                        53
GlobalPost                       51
Economic Times                   44
Name: title, dtype: uint32

In [30]:
# The two Series don’t need to be columns of the same DataFrame object. They just need to be of the same shape:

mentions_fed.shape

(422419,)

In [31]:
df['outlet'].shape

(422419,)

In [33]:
import timeit

def test_apply():
  '''Version 1: using '.apply()' '''
  df.groupby('outlet', sort=False)['title'].apply(lambda ser: ser.str.contains('Fed').sum()).nlargest(10)

def test_vectorization():
  '''Version 2: using vectorization'''
  mentions_fed = df['title'].str.contains('Fed')
  mentions_fed.groupby(df['outlet'], sort=False).sum().nlargest(10).astype(np.uintc)

print(f'Version 1: {timeit.timeit(test_apply, number=3)}')
print(f'Version 2: {timeit.timeit(test_vectorization, number=3)}')

Version 1: 11.14899893599977
Version 2: 0.5455870850000792